



<div id="postwindow">
  <div class="popover" style="margin:200px 500px 500px 500px;display:block;">
    <h3 class="popover-title"><b>Post</b><button type="button" class="close" onclick="cancel()" aria-hidden="true">&times;</button></h3>
    
    <div class="popover-content">
      <%= form_for(@post, :remote => true) do |f| %>
      <div id= "post_errors" >
         <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this Post from being Posted:</h2>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
       </div>
      <%= f.text_field :title, placeholder:"Title" %>
      <%= f.text_area :content, :rows => 5, placeholder:"Content" %>
      <%= f.submit class: "btn btn-xs btn-success" %>
       <button type="button" class="btn btn-default" onclick="cancel()">Close</button>
      <% end %>
   
   </div>
   
 </div>
</div>

